a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #777;
}

a.active {
    color: rgb(35, 147, 223);
}

nav {
    display: flex;
}

nav > a {
    padding-left: 10px;
    padding-right: 10px;
}